/* Style the navigation menu */
.topnav {
    overflow: hidden;
    position: fixed;
    padding: 0;
    margin: 0;
    width: 100vw;
    z-index: 1;
    font-size: 6vh;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  #myLinks {
    display: none;
    text-align: center;
    width: 50vh;
    min-height: 60vh;
    float: right;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: space-evenly;
    align-content: center;
    background-color: black;
    animation: menuMove 1s ease-in-out 0s 1 normal both;
  }

  @keyframes menuMove {
    0% {
      transform: scaleX(0);
    }
  
    100% {
      transform: scaleX(1);
    }
  }

  @media only screen and (max-width: 800px) {
    #myLinks {
        width: 100vw;
        float: none;
      }
  }

  #myLinks a {
    padding: 10px 0px;
  }

  #myLinks a:hover, #myLinks a:active {
    /*animation: linkMove 3s ease-in-out 0s infinite normal both;*/
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: saddlebrown;
    text-shadow: 1px 1px 1px #daa520;
    text-decoration: none;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    text-align: center;
    margin: 3vh;
    float:right;
  }
  
  /* Add a style on mouse-over */
  .topnav a.icon:hover, .topnav a.icon:active{
    /*animation: linkMove 3s ease-in-out 0s infinite normal both;*/
  }

≈
  
  /* Style the active link (or home/logo) */
  .active {
    width: 100vw;
  }

  .active a {
    text-align: center;
    float: left;
    margin: 3vh;
  }

  /* Add a style on mouse-over */
  .active a:hover, .active a:active{
    /*animation: linkMove 3s ease-in-out 0s infinite normal both;*/
  }

  @keyframes linkMove {
    0% {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
  }