html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    font-family: 'Raleway', sans-serif;
  }

  #homeBackground {
    background-attachment: fixed !important;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
  }

  @media screen and (max-width: 800px){
    #homeBackground {
      background-size: 300vw 100vh;
      /*background-attachment: fixed !important;*/
      background-repeat: repeat;
      }
  }
  
  /* Home Page */
  
  .home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }
  
  .homeSection {
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .homeTitle {
    font-size: 20vh;
    font-weight: 900;
    color: #daa520;
    text-shadow: 1px 1px 1px saddlebrown;
    animation: jelloMove 6s ease-in-out 0s 2 normal both;
  }

  
  @keyframes jelloMove {
    0% {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    40% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    50% {
      transform: scale3d(0.85, 1.15, 1);
    }
  
    65% {
      transform: scale3d(1.05, 0.95, 1);
    }
  
    75% {
      transform: scale3d(0.95, 1.05, 1);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  
  .homeText {
    font-size: 10vh;
    font-weight: 900;
    color: saddlebrown;
    text-shadow: 1px 1px 1px #daa520;
  }

  @media screen and (max-width: 800px) {
    .homeTitle {
        font-size: 12vh;
    }

    .homeText {
        font-size: 3vh;
    }
  }

  .homeContact {
    font-size: 6vh;
    font-weight: 900;
    margin: 6vh;
    text-shadow: 1px 1px 1px #daa520;
    text-decoration: none;
  }

  .homeContact a {
    color: #daa520;
    text-shadow: 1px 1px 1px saddlebrown;
    padding: 0vh 3vw;
  }

  .homeContact a:hover, .homeContact a:active{
    color: saddlebrown;
    text-shadow: 1px 1px 1px #daa520;
    animation: linkMove 3s ease-in-out 0s 1 normal both;
  }

  @keyframes linkMove {
    0% {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  
  .homeLine {
    color: #5e644f;
    width: 10vh;
    margin: 6vh;
    border-bottom-style: solid;
    border-width: 6px;
    border-color: auto;
  }
  

  /* SKILLS */

  #skills {
    margin: 2vw;
    padding: 0;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: center;
    align-content: center;
  }

  .skillsTitle {
    font-size: 12vh;
    font-weight: 900;
    text-align: center;
    color: #daa520;
    text-shadow: 1px 1px 1px saddlebrown;
    padding: 0;
    margin: 6vh 0;
    animation: jelloMove 6s ease-in-out 0s 2 normal both;
  }

  @media screen and (max-width: 800px) {
    .skillsTitle {
        font-size: 8vh;
    }
  }

  
  @keyframes jelloMove {
    0% {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    40% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    50% {
      transform: scale3d(0.85, 1.15, 1);
    }
  
    65% {
      transform: scale3d(1.05, 0.95, 1);
    }
  
    75% {
      transform: scale3d(0.95, 1.05, 1);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
  }

  .allSkills {
    padding: 10vh 3vh 3vh 3vh;
    margin: 0 3vh;
    width: auto;
    height: auto;
    font-size: 6vh;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;

    background-color: rgba(255,255,255, 0.90);

    border: solid rgba(139,69,19, 0.20);
    border-radius: 3vh;
    box-shadow: 0 3vh 3vh rgba(139,69,19, 0.20);
  }

  @media screen and (max-width: 800px) {
    .allSkills {
        font-size: 3vh;
    }
  }
  
  .theSkills {
    text-align: center;
    text-shadow: 6px 3px 6px black;
    margin: 1vw;
    padding: 1vw;
    animation: textMove 12s ease-in-out 0s infinite normal both;
  }
  
  @keyframes textMove {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
      transform: translateY(-80px);
    }
    
    10% {
      opacity: 0.5;
    }
  
    24% {
      opacity: 1;
    }
  
    40% {
      animation-timing-function: ease-in;
      transform: translateY(-36px);
    }
  
    65% {
      animation-timing-function: ease-in;
      transform: translateY(-16px);
    }
  
    82% {
      animation-timing-function: ease-in;
      transform: translateY(-6px);
    }
  
    93% {
      animation-timing-function: ease-in;
      transform: translateY(-4px);
    }
  
    25%,
    55%,
    75%,
    87% {
      animation-timing-function: ease-out;
      transform: translateY(0px);
    }
  
    100% {
      animation-timing-function: ease-out;
      opacity: 0;
      transform: translateY(0px);
    }
  }

  /*projects*/
  .repos {
    padding: 0;
    margin: 2vw;
  }
  
  .reposTitle {
    font-size: 12vh;
    font-weight: 900;
    text-align: center;
    color: #daa520;
    text-shadow: 1px 1px 1px saddlebrown;
    padding: 0;
    margin: 12vh 0;
    animation: jelloMove 6s ease-in-out 0s 2 normal both;
  }

  @keyframes jelloMove {
    0% {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    40% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    50% {
      transform: scale3d(0.85, 1.15, 1);
    }
  
    65% {
      transform: scale3d(1.05, 0.95, 1);
    }
  
    75% {
      transform: scale3d(0.95, 1.05, 1);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
  }

  @media screen and (max-width: 800px) {
    .reposTitle {
        font-size: 8vh;
    }
  }
  
  
  li.list-group-item {
    list-style-type: none; /* Remove bullets */
    /*padding: 5px 10px; /* Remove padding */
    /*margin: 5px; /* Remove margins */
  }
  
  .list-group-item {
    background-color: rgba(255,255,255, 0.90);
    text-align: center;
  
    max-width: 600px;
    height: auto;
    
    border: solid rgba(139,69,19, 0.20);
    border-radius: 3vh;
    box-shadow: 0 3vh 3vh rgba(139,69,19, 0.20);
    
    margin: 3vh;
    padding: 3vh 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .repoDescription {
    padding: 1vh;

    font-size: 3vh;
    font-weight: 600;

    margin: 6vh 3vh;
  }

  @media screen and (max-width: 800px) {
    .repoDescription {
      font-weight: 300;
    }
  }

  .repoDetail {
    margin: 3vh 0;
  }

  .repoDetail a {
    font-size: 3vh;
    font-weight: 600;
    border: solid rgba(139,69,19, 0.20);
    border-radius: 3vh;
    box-shadow: 0 0 3vh rgba(139,69,19, 0.20);
    padding: 3vh;
    margin: 0;
  }

  @media screen and (max-width: 800px) {
    .repoDetail a {
      font-weight: 300;
    }
  }

  .repoDetail a:link, .repoDetail a:visited {
    color: saddlebrown;
  }

  .repoDetail a:hover, .repoDetail a:active {
    color: #daa520;
    border: solid rgba(139,69,19, 0.30);
    box-shadow: 0 3vh 3vh rgba(139,69,19, 0.30);
    animation: clickMove 1s ease-in-out 0s infinite normal both;
  }

  @keyframes clickMove {
    0%,
    100% {
      transform: translateX(0%);
      transform-origin: 50% 50%;
    }
  
    15% {
      transform: translateX(-30px) rotate(-6deg);
    }
  
    30% {
      transform: translateX(15px) rotate(6deg);
    }
  
    45% {
      transform: translateX(-15px) rotate(-3.6deg);
    }
  
    60% {
      transform: translateX(9px) rotate(2.4deg);
    }
  
    75% {
      transform: translateX(-6px) rotate(-1.2deg);
    }
  }

  .list-group-item img {
    /*text-align: center;*/
    width: 80%;
    height: auto;
    object-fit: fill;
  }

  .repoHead {
    font-size: 6vh;
    font-weight: 600;
    margin: 6vh 3vh;
    color: saddlebrown;
  }

  @media screen and (max-width: 800px) {
    .repoHead {
      font-size: 3vh;
    }
  }

  
  .list-group {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  