body {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    font-family: 'Raleway', sans-serif;
  }


  
  /* Home Page */
  
  .home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }
  
  .homeSection {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .homeTitle {
    font-size: 20vh;
    color: #daa520;
    animation: jelloMove 6s ease-in-out 0s 2 normal both;
  }

  
  @keyframes jelloMove {
    0% {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    40% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    50% {
      transform: scale3d(0.85, 1.15, 1);
    }
  
    65% {
      transform: scale3d(1.05, 0.95, 1);
    }
  
    75% {
      transform: scale3d(0.95, 1.05, 1);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  
  .homeText {
    font-size: 10vh;
    color: saddlebrown;
    text-shadow: 1px 1px 1px #daa520;
  }

  @media screen and (max-width: 800px) {
    .homeTitle {
        font-size: 16vh;
    }

    .homeText {
        font-size: 4vh;
    }
  }
  
  .homeLine {
    color: saddlebrown;
    width: 6vh;
    margin: 6vh;
    border-bottom-style: solid;
    border-width: 10px;
    border-radius: 6px;
    border-color: auto;
  }
  
  .homeIcon {
    margin: 6vh 0vw;
    font-size: 10vh;
    color: #daa520;
    animation: iconMove 3s ease-in-out 0s infinite normal both;
  }

  .homeIcon:active {
    animation: iconMove 6s cubic-bezier(0.87, 0, 0.13, 1) 0s 2 normal both;
  }

  @keyframes iconMove {
    0% {
      opacity: 0.8;
      transform: translateY(-30px);
    }
  
    50% {
      opacity: 1;
      transform: translateY(0);
    }
      100% {
      opacity: 0.8;
      transform: translateY(-30px);
    }
  }



  /* SKILLS */

  #skills {
    font-family: 'Raleway', sans-serif;
    margin: 2vw;
    padding: 0;
    background-color:#daa520;
    border-radius: 2vw;
    border: solid 2vw saddlebrown;
    opacity: 0.85;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: space-evenly;
    align-content: center;
  }

  .skillsTitle {
    font-size: 12vh;
    text-align: center;
    color: none;
    padding: 0;
    margin: 0;
    animation: jelloMove 6s ease-in-out 0s 2 normal both;
  }

  
  @keyframes jelloMove {
    0% {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    40% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    50% {
      transform: scale3d(0.85, 1.15, 1);
    }
  
    65% {
      transform: scale3d(1.05, 0.95, 1);
    }
  
    75% {
      transform: scale3d(0.95, 1.05, 1);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
  }

  .allSkills {
    padding: 0;
    margin: 6vh 2vw 0 2vw;
    width: auto;
    height: auto;
    font-size: 6vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
  }
  
  .theSkills {
    text-align: center;
    margin: 1vw;
    padding: 1vw;
    animation: textMove 12s ease-in-out 0s infinite normal both;
  }
  
  @keyframes textMove {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
      transform: translateY(-80px);
    }
    
    10% {
      opacity: 0.5;
    }
  
    24% {
      opacity: 1;
    }
  
    40% {
      animation-timing-function: ease-in;
      transform: translateY(-36px);
    }
  
    65% {
      animation-timing-function: ease-in;
      transform: translateY(-16px);
    }
  
    82% {
      animation-timing-function: ease-in;
      transform: translateY(-6px);
    }
  
    93% {
      animation-timing-function: ease-in;
      transform: translateY(-4px);
    }
  
    25%,
    55%,
    75%,
    87% {
      animation-timing-function: ease-out;
      transform: translateY(0px);
    }
  
    100% {
      animation-timing-function: ease-out;
      opacity: 0;
      transform: translateY(0px);
    }
  }

  /*projects*/
  .repos {
    padding: 10vh 0vw;
    margin: 0;
  }
  
  @media only screen and (max-width: 550px) {
    .repos {
      background-size: 50vw;
    }
  }
  
  .reposTitle {
    font-size: 12vh;
    text-align: center;
    color: none;
    padding: 0;
    margin: 0;
    animation: jelloMove 6s ease-in-out 0s 2 normal both;
  }

  @keyframes jelloMove {
    0% {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    40% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    50% {
      transform: scale3d(0.85, 1.15, 1);
    }
  
    65% {
      transform: scale3d(1.05, 0.95, 1);
    }
  
    75% {
      transform: scale3d(0.95, 1.05, 1);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  
  .fullRepos {
    margin: 10vh 0vw;
    text-align: center;
  }
  
  .fullRepos a:link, .fullRepos a:visited {
    font-size: 6vh;
    color: #daa520;
    text-decoration: none;
  }
  
  .fullRepos a:hover, .fullRepos a:active {
    color: saddlebrown;
    text-shadow: 1px 1px 1px #daa520;
  }
  
  li.list-group-item {
    list-style-type: none; /* Remove bullets */
    /*padding: 5px 10px; /* Remove padding */
    /*margin: 5px; /* Remove margins */
  }
  
  .list-group-item {
    text-align: center;
    font-size: 80%;
  
    width: 280px;
    min-height: 200px;
    
    color: auto;
    border: solid saddlebrown;
    box-shadow: 10px 10px saddlebrown;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .list-group {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .list-group-item a:link, .list-group-item a:visited {
    color: black;
    text-decoration: none;
  }
  
  .list-group-item a:hover, .list-group-item a:active {
    color: #daa520;
  }